<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SDP_SERVER" value="http://it.hcaskona.com" />
    <!--technician token для соединения с Service Desk Plus-->
    <add key="TECHNICIAN_KEY" value="" />
    <!--Список специалистов для обмена-->
    <!--add key="SUPPORT_LIST" value="Коноплев Илья Андреевич" /-->
    <add key="SUPPORT_LIST" value="Балунова Наталья Анатольевна;Горбунова Наталья Вячеславовна;Горшкова Наталия Алексеевна;Должиков Максим Станиславович;Зинина Марина Александровна;Конев Сергей Евгеньевич;Коноплев Илья Андреевич;Курганова Нина Олеговна;Сутягин Александр Сергеевич;Павлова Надежда Владимировна;Шарапова Галина Адольфовна;Гаменюк Аким Юрьевич;Горячевский Виктор Николаевич;Замятин Вячеслав Геннадьевич;Карашманова Ирина Михайловна;Никоноренков Алексей Валентинович;Торопов Роман Александрович;Фомичев Андрей Олегович" />
    <add key="JIRA_SERVER" value="https://jira.askona.ru" />
    <!--technician login/pass для соединения с Jira-->
    <add key="JIRA_LOGIN" value="" />
    <add key="JIRA_PASS" value="" />
  </appSettings>
  <connectionStrings>
    <add name="GalaxyDB" connectionString="User ID=;Password=;Data Source=galora.hcaskona.com:1521/askona" />
  </connectionStrings>
</configuration>