<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Service Desk Plus settings-->
    <add key="SDP_SERVER" value="https://sd.askona.ru" />
    <add key="TECHNICIAN_KEY" value="" />
    <!--Jira settings-->
    <add key="JIRA_SERVER" value="https://jira.askona.ru" />
    <add key="JIRA_LOGIN" value="" />
    <add key="JIRA_PASS" value="" />
    <!--Список специалистов для отбора-->
    <add key="SUPPORT_LIST" value="Балунова Наталья Анатольевна;Гаменюк Аким Юрьевич;Горбунова Наталья Вячеславовна;Горшкова Наталия Алексеевна;Горячевский Виктор Николаевич;Должиков Максим Станиславович;Замятин Вячеслав Геннадьевич;Каленых Юрий Николаевич;Карашманова Ирина Михайловна;Конев Сергей Евгеньевич;Краснощеков Кирилл Николаевич;Торопов Роман Александрович;Фомичев Андрей Олегович;Худяков Сергей Алексеевич;Шарапова Галина Адольфовна;Климова Маргарита Олеговна" />
    <add key="WORKLOG_STARTDATE" value="2025-03-10" />
    <add key="WORKLOG_ENDDATE" value="2025-07-13" />
  </appSettings>
</configuration>