<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SDP_SERVER" value="http://it.hcaskona.com" />
    <!--technician token для соединения с Service Desk Plus-->
    <add key="TECHNICIAN_KEY" value="" />
	<!--Список специалистов для обмена-->
    <add key="SUPPORT_LIST" value="Коноплев Илья Андреевич;Замятин Вячеслав Геннадьевич" />
    <add key="JIRA_SERVER" value="https://jira.askona.ru" />
    <!--technician login/pass для соединения с Jira-->
    <add key="JIRA_LOGIN" value="" />
    <add key="JIRA_PASS" value="" />
  </appSettings>
</configuration>